.calendar {
  width: 800px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  text-align: center;
  color: white;
  background-color: blue;
}

.calendar-month {
  text-transform: uppercase;
}

.calendar-control {
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendar-control svg {
  fill: white;
}

.calendar-week-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 50px;
  list-style: none;
  text-align: center;
  background-color: lightgrey;
}

.calendar-week-list li {
  flex: 1;
}

.calendar-days-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 10px 50px 5px;
  list-style: none;
  text-align: center;
  background-color: beige;
}

.calendar-days-list li {
  flex-shrink: 0;
  flex-basis: 14.25%;
  margin-bottom: 5px;
}
