.icon-bar {
  margin-top: 100px;
}

.icon-bar--vertical {
  display: flex;
}

.icon-bar--vertical .icon-bar__list {
  flex-direction: column;
}

.icon-bar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: brown;
}

.icon-bar__item {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
}

.icon-bar__item:hover,
.icon-bar__item--active {
  background-color: cadetblue;
}

.icon-bar__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-bar__icon {
  fill: aliceblue;
}

@media (max-width: 400px) {
  .icon-bar__icon {
    width: 30px;
    height: 30px;
  }
}
