.article {
  height: 100vh;
  background-color: olive;
  position: relative;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.info {
  position: absolute;
  z-index: 2;
  height: 100%;
  flex-direction: column-reverse;
  display: flex;
}

.text {
  color: lightcyan;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.play {
  color: lightcyan;
  padding: 5px 30px;
  background-color: black;
  border: none;
}
